.wrapper {
  font-family: "Open Sans";
}

.header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 93px;
  align-items: center;
}
.header__nav li {
  list-style-type: none;
  display: inline;
}
.header__nav li + li {
  margin-left: 20px;
}
.header__nav li a {
  text-decoration: none;
  color: #394b50;
  padding: 10px 15px;
  font-size: 13px;
}
.header__nav li a:hover {
  background-color: #ffc155;
  border-radius: 2px;
}
@media screen and (max-width: 980px) {
  .header__nav li {
    display: block;
  }
}